/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define visible focus styles! 
   :focus {
     outline: ?????;
   } */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  max-width: 1440px;
  margin: auto;
  color: #572EE5;
}

body *, body *:focus, body *:hover {
  outline: none;
}

header .line {
  height: 5px;
  background-color: #572EE5;
}

header .header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 6% 5.9% 2%;
  height: 2.6%;
}

header .header_nav .logo {
  height: 15vw;
}

header .header_nav nav {
  width: 7.5%;
  margin: 5% 0;
}

header .header_nav nav ul {
  display: none;
  position: absolute;
  background: #572EE5;
  height: 100vh;
  left: 0px;
  top: 25vw;
  padding-top: 10vw;
  opacity: 90%;
  z-index: 3;
}

header .header_nav nav ul li {
  list-style: none;
  height: 2em;
  margin-top: 1.5em;
  text-align: center;
  font-size: 15px;
}

header .header_nav nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 15px;
}

header .header_nav nav ul .underline {
  height: 1px;
  margin: 0 159px;
  text-align: center;
  background-color: #FFFFFF;
}

header .header_nav nav .menu_x {
  display: none;
}

header .header_nav nav input:checked ~ ul {
  display: block;
  position: absolute;
  right: 0;
}

header .header_nav nav input:checked ~ .menu_x {
  display: list-item;
  list-style: none;
}

header .header_nav nav input:checked ~ .menu_h {
  display: none;
}

header .header_nav nav input {
  display: none;
}

header .header_nav nav label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #572EE5;
  cursor: pointer;
}

header .header_nav nav label i {
  font-size: 6vw;
}

main .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .search h1 {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin: 5% 12%;
}

main .search h1 span {
  color: #50E3C2;
}

main .search .browser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2%;
}

main .search .browser .people {
  width: 77%;
}

main .search .browser .icon_browser {
  width: 95%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .search .browser .icon_browser .suggestion {
  display: none;
}

main .search .browser .icon_browser .close {
  display: none;
}

main .search .browser .icon_browser .lupa {
  position: absolute;
  top: 12px;
  right: 5%;
}

main .search .browser .icon_browser input {
  border-radius: 27px;
  width: 98%;
  height: 40px;
  border-width: 1px;
  border-color: #572EE5;
  font-family: "Roboto", sans-serif;
  padding-left: 20px;
  position: relative;
}

main .search .browser .icon_browser input::-webkit-input-placeholder {
  color: #6B7989;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  position: relative;
  left: 15%;
}

main .search .browser .icon_browser input:-ms-input-placeholder {
  color: #6B7989;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  position: relative;
  left: 15%;
}

main .search .browser .icon_browser input::-ms-input-placeholder {
  color: #6B7989;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  position: relative;
  left: 15%;
}

main .search .browser .icon_browser input::placeholder {
  color: #6B7989;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  position: relative;
  left: 15%;
}

main .search .browser .icon_browser input:focus {
  height: 30px;
  border: none;
  margin-top: 7px;
  z-index: 1;
  width: 77%;
}

main .search .browser .icon_browser input:focus::-webkit-input-placeholder {
  left: 2vw;
  height: 80%;
}

main .search .browser .icon_browser input:focus:-ms-input-placeholder {
  left: 2vw;
  height: 80%;
}

main .search .browser .icon_browser input:focus::-ms-input-placeholder {
  left: 2vw;
  height: 80%;
}

main .search .browser .icon_browser input:focus::placeholder {
  left: 2vw;
  height: 80%;
}

main .search .browser .icon_browser input:focus ~ a .lupa {
  margin-top: 2px;
  left: 4vw;
  right: unset;
  z-index: 1;
  opacity: 0.5;
}

main .search .browser .icon_browser input:focus ~ .close {
  display: block;
  position: absolute;
  margin-top: 2px;
  top: 2vh;
  right: 5%;
  z-index: 1;
}

main .search .browser .icon_browser input:focus ~ .suggestion {
  border: 1px solid #572EE5;
  border-radius: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: white;
  z-index: 0;
}

main .search .browser .icon_browser input:focus ~ .suggestion .sug {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1% 5%;
  height: 4vh;
  opacity: 0.5;
}

main .search .browser .icon_browser input:focus ~ .suggestion .sug a {
  padding-left: 1vw;
  text-decoration: none;
  color: #9CAFC3;
}

main .search .browser .icon_browser input:focus ~ .suggestion .sug a img {
  width: 90%;
}

main .search .browser .icon_browser input:focus ~ .suggestion .sug_none {
  border-bottom: 1px solid #9CAFC3;
  width: 80%;
  position: relative;
  left: 5%;
  margin-bottom: 1%;
  padding-bottom: 5%;
}

main .search .trending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 7% 5% 10%;
}

main .search .trending h3 {
  font-weight: bold;
  font-size: 16px;
}

main .search .trending p {
  text-align: center;
  margin: 5% 15%;
  font-size: 14px;
}

main #results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #results #titleSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #results #titleSearch #lineTitle {
  height: 1px;
  background-color: #9CAFC3;
  width: 29%;
  margin-bottom: 10%;
}

main #results #titleSearch h2 {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 6%;
  text-transform: uppercase;
}

main #results .gifosGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20fr  20fr;
      grid-template-columns: 20fr  20fr;
  margin: 5%;
}

main #results .gifosGrid .gifos .icons_gifos {
  display: none;
}

main #results .gifosGrid .gifos img {
  margin: 5%;
  width: 90%;
  height: 90%;
}

main #results .gifosGrid .gifos .user {
  display: none;
}

main #results input {
  border: 1px solid #572EE5;
  border-radius: 25px;
  height: 50px;
  width: 100px;
  background-color: #FFFFFF;
  font-weight: bold;
  font-size: 13px;
  color: #572EE5;
  cursor: pointer;
  margin: 2% 0 5%;
}

main .trending_gifos {
  background-color: #F3F5F8;
  padding: 15% 0 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

main .trending_gifos .title h2 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

main .trending_gifos .title p {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 6% 0 15%;
}

main .trending_gifos .preview_gifos .slider_gifos .arrow {
  display: none;
}

main .trending_gifos .preview_gifos .slider_gifos .gifos_carrousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 300px;
}

main .trending_gifos .preview_gifos .slider_gifos .gifos_carrousel .gifos {
  margin: 0 5%;
}

main .trending_gifos .preview_gifos .slider_gifos .gifos_carrousel .gifos .icons_gifos {
  display: none;
}

main .trending_gifos .preview_gifos .slider_gifos .gifos_carrousel .gifos .gif {
  width: 70vw;
  max-width: 400px;
  height: 100%;
}

main .trending_gifos .preview_gifos .slider_gifos .gifos_carrousel .gifos .user {
  display: none;
}

footer {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15% 10% 5%;
  font-family: "Roboto", sans-serif;
  color: #000000;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social p {
  font-size: 15px;
}

footer .social .social_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20% 0 30%;
  width: 100%;
}

footer p {
  font-size: 14px;
  text-align: center;
}

.line {
  width: 100%;
  height: 5px;
  background-color: #572EE5;
}

@media screen and (min-width: 800px) {
  header .header_nav {
    height: unset;
    margin: 2% 2%;
  }
  header .header_nav .logo {
    height: 5vw;
  }
  header .header_nav nav {
    width: 50%;
    margin: unset;
  }
  header .header_nav nav input {
    display: none;
  }
  header .header_nav nav label {
    display: none;
  }
  header .header_nav nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: unset;
    background-color: unset;
    position: unset;
    padding-top: unset;
    opacity: unset;
    left: unset;
    top: unset;
  }
  header .header_nav nav ul li {
    height: auto;
    margin-top: unset;
  }
  header .header_nav nav ul li a {
    color: #572EE5;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
  }
  header .header_nav nav ul li a:hover {
    padding-bottom: 5px;
    border-bottom: solid #5ED7C6;
    border-bottom-width: 3.1px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  header .header_nav nav ul li a:active {
    color: #9CAFC3;
    border-bottom: none;
  }
  header .header_nav nav ul .underline {
    display: none;
  }
  main .search h1 {
    font-size: 35px;
  }
  main .search .browser {
    width: 60%;
  }
  main .search .browser .icon_browser {
    width: 100%;
  }
  main .search .browser .icon_browser input::-webkit-input-placeholder {
    color: #9CAFC3;
    left: 5%;
    padding-left: 60px;
  }
  main .search .browser .icon_browser input:-ms-input-placeholder {
    color: #9CAFC3;
    left: 5%;
    padding-left: 60px;
  }
  main .search .browser .icon_browser input::-ms-input-placeholder {
    color: #9CAFC3;
    left: 5%;
    padding-left: 60px;
  }
  main .search .browser .icon_browser input::placeholder {
    color: #9CAFC3;
    left: 5%;
    padding-left: 60px;
  }
  main .search .browser .icon_browser input:focus {
    padding-left: 0.5%;
    top: 0.3vh;
  }
  main .search .browser .icon_browser input:focus ~ a .lupa {
    top: 2.3vh;
  }
  main .search .browser .icon_browser input:focus::-webkit-input-placeholder {
    left: 0;
    top: 0.3vh;
  }
  main .search .browser .icon_browser input:focus:-ms-input-placeholder {
    left: 0;
    top: 0.3vh;
  }
  main .search .browser .icon_browser input:focus::-ms-input-placeholder {
    left: 0;
    top: 0.3vh;
  }
  main .search .browser .icon_browser input:focus::placeholder {
    left: 0;
    top: 0.3vh;
  }
  main .search .browser .icon_browser input:focus ~ .close {
    top: 3vh;
    cursor: pointer;
  }
  main .search .browser .icon_browser input:focus ~ .suggestion .sug_none {
    padding-bottom: 3%;
  }
  main .search .trending {
    margin: unset;
    margin: 2% 0 5% 0;
  }
  main .search .trending h3 {
    font-size: 18px;
  }
  main .search .trending p {
    font-size: 16px;
    margin: 5% 0;
  }
  main #results #titleSearch {
    margin-top: 7%;
    width: 100%;
  }
  main #results #titleSearch #lineTitle {
    margin-bottom: 5%;
  }
  main #results #titleSearch h2 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: unset;
  }
  main #results .gifosGrid {
    width: 90%;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  main #results .gifosGrid .gifos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    position: relative;
    margin: auto;
    width: 100%;
  }
  main #results .gifosGrid .gifos:hover {
    background-color: #572EE5;
    z-index: 3;
    opacity: 0.7;
  }
  main #results .gifosGrid .gifos:hover .user {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 0 10% 10%;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    z-index: 2;
  }
  main #results .gifosGrid .gifos:hover .user h2 {
    font-size: 15px;
    padding-bottom: 10%;
  }
  main #results .gifosGrid .gifos:hover .user p {
    font-size: 16px;
    font-weight: bold;
  }
  main #results .gifosGrid .gifos:hover .icons_gifos {
    position: absolute;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2%;
    width: 40%;
    z-index: 4;
  }
  main #results .gifosGrid .gifos:hover .icons_gifos a {
    padding: 3%;
    z-index: 0;
  }
  main #results .gifosGrid .gifos:hover .gif {
    opacity: 0.3;
  }
  main #results .gifosGrid .gifos .gif {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    grid-row: 0/3;
    width: 100%;
    max-width: unset;
    height: 200px;
    margin: unset;
    z-index: -1;
  }
  main #results input {
    width: 10%;
  }
  main .trending_gifos {
    padding: 5% 0 15%;
  }
  main .trending_gifos .title h2 {
    font-size: 25px;
  }
  main .trending_gifos .title p {
    font-size: 18px;
    margin: 2% 0 5%;
  }
  main .trending_gifos .title p br {
    display: none;
  }
  main .trending_gifos .preview_gifos .slider_gifos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .trending_gifos .preview_gifos .slider_gifos .arrow {
    display: block;
    margin: 0 2%;
  }
  main .trending_gifos .preview_gifos .slider_gifos .gifos_carrousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .trending_gifos .preview_gifos .slider_gifos .gifos_carrousel .gifos {
    position: relative;
    margin: 0 2%;
    width: 50%;
  }
  main .trending_gifos .preview_gifos .slider_gifos .gifos_carrousel .gifos:hover {
    background-color: #572EE5;
    z-index: 3;
    opacity: 0.7;
  }
  main .trending_gifos .preview_gifos .slider_gifos .gifos_carrousel .gifos:hover .user {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 0 10% 10%;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    z-index: 2;
  }
  main .trending_gifos .preview_gifos .slider_gifos .gifos_carrousel .gifos:hover .user h2 {
    font-size: 15px;
    padding-bottom: 10%;
  }
  main .trending_gifos .preview_gifos .slider_gifos .gifos_carrousel .gifos:hover .user p {
    font-size: 16px;
    font-weight: bold;
  }
  main .trending_gifos .preview_gifos .slider_gifos .gifos_carrousel .gifos:hover .icons_gifos {
    position: absolute;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2%;
    margin-right: 5%;
    width: 40%;
    z-index: 4;
  }
  main .trending_gifos .preview_gifos .slider_gifos .gifos_carrousel .gifos:hover .icons_gifos a {
    padding: 3%;
    z-index: 0;
  }
  main .trending_gifos .preview_gifos .slider_gifos .gifos_carrousel .gifos:hover .gif {
    opacity: 0.3;
  }
  main .trending_gifos .preview_gifos .slider_gifos .gifos_carrousel .gifos .gif {
    width: unset;
    width: 100%;
    height: 25vw;
    z-index: -1;
  }
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 2% 15%;
    font-size: 13px;
  }
  footer .social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 50%;
    font-size: 13px;
  }
  footer .social p {
    width: 100px;
    padding-right: 5%;
  }
  footer .social .social_icons {
    margin: unset;
    width: 30%;
  }
}
/*# sourceMappingURL=style.css.map */